body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  text-align: center;
}

.board-row{
  display: flex;
  justify-content: center;
}

li{
  list-style: none;
}

.btn{
  height:120px;
  width:120px;
  font-size: 50px;
  background-color: aquamarine;
  padding: 30px;
  margin: 5px;
}

.moves{
  font-style: italic;
  font-size: 15px;
  background-color: rgba(127, 255, 212, 0.445);
  padding: 4px;
  margin: 5px;
}

.time-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info{
  display: flex;
  justify-content: center;
}